@import url('../common/reset.css');
@import url('./common/layout.css');

.auth-socialLists {
	width: 100%;
	padding: 22px 0 28px 0;
	border-bottom: 1px solid var(--gray3);
}

.auth-socialList { 
	width: 100%;
	height: 48px;
	background-color: var(--gray3);
	border-radius: var(--borderRadius15);
	overflow: hidden;
}

.auth-socialList + .auth-socialList {
	margin-top: 12px;
}

.auth-socialList a { 
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 16px;
	font-size: 15px;
	font-weight: 500;
}

.auth-socialList a svg {
	width: 24px;
	height: 24px;
	margin-right: 7px;
}

