@import url('../common/reset.css');
@import url('./common/layout.css');

.auth-form {
	width: 100%;
	padding: 22px 0 28px 0;
}

.auth-form__input { 
	width: 100%;
	overflow: hidden;
	position: relative;
}

.auth-form__input + .auth-form__input {
	margin-top: 20px;
}

.auth-form__input label {
	font-size: 14px;
	font-weight: 500;
	color: var(--gray8);
	margin-bottom: 8px;
	display: block;
}

.auth-form__input > div,
.auth-form__input > button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48px;
	position: relative;
	color: var(--white);
	font-weight: 500;
	border-radius: var(--borderRadius15);
}

.auth-form__input > div > input {
	width: 100%;
	height: 100%;
	background-color: var(--gray3);
	border-radius: var(--borderRadius15);
	padding: 16px;
}

.auth-form__input > div > svg {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.auth-form__input input::placeholder {
	font-weight: 500;
	color: var(--gray6);
}

.auth-form__layout .auth-form__input input:focus {
	border: 1px solid var(--main);
	outline: none;
}

.auth-util {
	margin-top: 28px;
}

.auth-form__input button {
	background-color: var(--main);
}

.auth-form__input.password > div + div {
	margin-top: 8px;
}

.auth-util .auth-form__input * {
	color: var(--gray1);
	font-size: 15px;
	font-weight: 700;
}

/* Validation Effect */
.auth-form__input.invalid input {
	border: 1px solid var(--error);
}

.auth-form__input.invalid .password-input {
	border: none;
}

.auth-form__input.invalid p {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: var(--error);
	font-weight: 400;
	margin-top: 12px;
}

.auth-form__input.invalid .input-password {
	border: none;
}

.auth-form__input.invalid input {
	border: 1px solid var(--error);
}

.auth-form__input.invalid svg {
	margin-right: 7px;
}

/* 회원가입 완료 활성화 및 비활성화 */
.auth-form__submit.valid button {
	background-color: var(--main);
}

.auth-form__submit.invalid button {
	background-color: #6A744D;
}
