@import url('../common/header.css');
@import url('./confirm-top.css');
@import url('./list.css');


.confirm-marginTop {
	margin-top: 4px;
}

.coverImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}