.bottom-sheet { 
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba(12, 10, 10, 0.75);
}

.bottom-sheet__main {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: var(--gray2);
	width: 100%;
	height: 397px;
	border-top-right-radius: 30px; 
	border-top-left-radius: 30px;
}

.bottom-sheet__category {
	padding: 38px 16px 21px 16px;
}

.bottom-sheet__categorys { 
	display: flex;
	justify-content: space-between;
}

.bottom-sheet__categorys li {
	font-size: 17px;
	font-weight: 600;
	color: var(--gray6);
}

.bottom-sheet__categorys li.active {
	position: relative;
	color: var(--white);
}

.bottom-sheet__categorys li.active:after {
	content: '';
	position: absolute;
	top: -4px;
	right: -4px;
	width: 4px;
	height: 4px;
	background-color: var(--main);
	border-radius: var(--borderRadius50);
}

/* 설정 및 재설정 */
.bottom-sheet__btns {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	padding: 8px 16px 0 16px;
	border-top: 1px solid var(--gray4);
}

.bottom-sheet__btns ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-sheet__btns li {
	width: 163px;
	text-align: center;
}

.bottom-sheet__btns li * {
	display: flex;
	justify-content: center;
	width: inherit;
	height: 44px;
	align-items: center;
	font-size: 15px;
	font-weight: 700;
}

.bottom-sheet__btns li + li {
	margin-left: 16px;
}

.bottom-sheet__reset {
	color: var(--gray8);
}

.bottom-sheet__submit {
	color: var(--gray1);
	background-color: var(--white);
	border-radius: var(--borderRadius50);
}

