/* ! write-desc */
.write-form {
	padding: 22px 16px 20px 16px;
	background-color: var(--gray2); 
	border-radius: var(--borderRadius20);
}

.write-form__header {
	display: flex;
	padding-bottom: 12px;
	border-bottom: 1px solid var(--gray5);
}

.write-form__profile {
	width: 40px;
	height: 40px;
	background-color: var(--gray9);
	border-radius: var(--borderRadius50);
}

.write-form__info {
	margin-left: 8px;
}

.write-form__nickname {
	font-size: 17px;
	font-weight: 600;
	color: var(--white);
}

.write-form__date {
	display: flex;
	align-items: center;
	margin-top: 2px;
}

.write-form__input {
	margin-left: 4px;
	display: flex;
	align-items: center;
}

.write-form__date input {
	width: 86px;
	height: 24px;
	color: var(--gray1);
	border-radius: 4px;
	font-size: 12px;
	font-weight: 400;
	border: 1px solid var(--gray5);
	color: var(--gray3);
	padding: 8px 5px 5px 4px;
	background: url('../../../images/icon/confirm-write-arrow-bottom.svg') no-repeat right / auto, var(--gray7);
}

.write-form__date span {
	display: block;
	margin: 0 4px;
	font-size: 12px;
	font-weight: 400;
	color: var(--gray6);
}

.write-form__textarea {
	margin-top: 12px;
	border: 1px solid var(--gray5);
	border-radius: var(--borderRadius10);
	background-color: transparent;
	width: 100%;
	height: 92px;
	padding: 16px;
	resize: none;
	font-size: 14px;
	font-weight: 400;
}