@import url('../../common/header.css');
@import url('./modalHeader.css');

.confirm-marginTop {
	margin-top: 4px;
}

/* ! write-desc */
.write-desc {
	padding: 22px 16px 20px 16px;
	background-color: var(--gray2); 
	border-radius: var(--borderRadius20);
}

.write-desc__header {
	display: flex;
	padding-bottom: 12px;
	border-bottom: 1px solid var(--gray5);
}

.write-desc__profile {
	width: 40px;
	height: 40px;
	background-color: var(--gray9);
	border-radius: var(--borderRadius50);
}

.write-desc__info {
	margin-left: 8px;
}

.write-desc__nickname {
	font-size: 17px;
	font-weight: 600;
	color: var(--white);
}

.write-desc__date {
	display: flex;
	align-items: center;
	margin-top: 2px;
}

.write-desc__input {
	margin-left: 4px;
	display: flex;
	align-items: center;
}

.write-desc__date input {
	width: 86px;
	height: 24px;
	color: var(--gray1);
	border-radius: 4px;
	font-size: 12px;
	font-weight: 400;
	border: 1px solid var(--gray5);
	color: var(--gray3);
	padding: 8px 5px 5px 4px;
	background: url('../../../images/icon/confirm-write-arrow-bottom.svg') no-repeat right / auto, var(--gray7);
}

.write-desc__date span {
	display: block;
	margin: 0 4px;
	font-size: 12px;
	font-weight: 400;
	color: var(--gray6);
}

.write-desc__textarea {
	margin-top: 12px;
	border: 1px solid var(--gray5);
	border-radius: var(--borderRadius10);
	background-color: transparent;
	width: 100%;
	height: 92px;
	padding: 16px;
	resize: none;
	font-size: 14px;
	font-weight: 400;
}

/* ! write-vote */
.write-vote {
	padding: 22px 16px 20px 16px;
	background-color: var(--gray2); 
	border-radius: var(--borderRadius20);
}

.write-vote__header {
	display: flex;
	align-items: center;
}

.write-vote__title {
	display: flex;
	align-items: center;
}

.write-vote__title div {
	font-size: 17px;
	font-weight: 700;
	color: var(--gray8);
	margin-left: 4px;
}

.write-vote__date {
	display: flex;
	align-items: center;
	margin-left: 12px;
}

.write-vote__date-remain {
	font-size: 13px;
	font-weight: 400;
	color: var(--gray9);
	margin-right: 4px;
}

.write-vote__date-period {
	font-size: 12px;
	font-weight: 400;
	color: var(--gray6);
}

.write-bote__input {
	width: 100%;
	height: 44px;
	background-color: var(--gray3);
	border-radius: var(--borderRadius10);
	margin-top: 12px;
}

.write-bote__input input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	padding: 13px 16px;
	border-radius: var(--borderRadius10);
	font-size: 14px;
	font-weight: 700;
}

.write-bote__input input:focus {
	border: 1px solid var(--main);
	outline: none;
}

.write-bote__input + .write-bote__input {
	margin-top: 4px;
}

/* write-slider */
.write-slider {
	position: relative;
	background-color: var(--gray2); 
	border-radius: var(--borderRadius20);
	background-color: var(--gray1);
}

.swiper-slide {
	width: 100%;
	height: 375px;
	background-color: var(--gray2);
	border-radius: var(--borderRadius20);
}

.swiper-slide input {
	display: none;
}

.swiper-slide label {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 22px 16px 20px 16px;
	width: 100%;
	height: 100%;
}

.swiper-slide label div {
	font-size: 17px;
	font-weight: 500;
	color: var(--gray7);
	margin-bottom: 18px;
}

.write-slider .swiper-horizontal > .swiper-pagination-bullets,
.write-slider .swiper-pagination-bullets.swiper-pagination-horizontal,
.write-slider .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 8px;
	top: auto;
}

.write-slider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.write-slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 3px;
}

.swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	background-color: rgba(77, 77, 88, 0.52);
}

.swiper-pagination-bullet-active {
	background-color: var(--white);
}