/* Validation Effect */
.auth-form__input.valid * {
	background-color: rgba(214, 255, 92, 0.28);
	color: var(--white);
}

.auth-form__input.valid *::placeholder {
	color: var(--white)
}

.auth-form__input.invalid p {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: var(--error);
	font-weight: 400;
	margin-top: 12px;
}

.auth-form__input.invalid input {
	border: 1px solid var(--error);
}

.auth-form__input.invalid svg {
	margin-right: 7px;
}