:root {
	--headerRadius30: 0 0 30px 30px;
	--borderRadius50: 50px; 
	--borderRadius30: 30px;
	--borderRadius20: 20px;
	--borderRadius15: 15px;
	--borderRadius13: 13px;
	--borderRadius10: 10px;
	--borderRadius7: 7px;
	--borderRadius5: 5px;
}

.inner-container { 
	width: 100%;
	padding: 0 16px;
}